body {

    background-color: #fdf9df !important;
}




img {
	position: absolute;
	width: 50vh;
	height: 50vh;
	margin: 0;
	top: 0;
	left: 0;
	padding: 25vh calc((100vw - 50vh) / 2);
}

#shop #watch {
	transform: rotate (270deg)
}


