body {
    margin: 60px auto;
    width: 70%;
    background-color: #fdf9df !important;
}




img {
	width: 50%;
	height: 50%;
	margin: 0;
	top: 0;
	left: 0;
	padding: 50%;
	
}

#shop #watch {
	transform: rotate (270deg)
}


.container {
	display: flex;

	

}