body {

    background-color: #fdf9df !important;
}




img {
	position: absolute;
	width: 50vw;
	height: 50vw;
	margin: 0;
	top: 0;
	left: 0;
	padding: 25vw;
}

#shop #watch {
	transform: rotate (270deg)
}


