:root{


}


body {

    background-color: #fdf9df !important;
}

img {
	position: absolute;
	width: 50vh;
	height: 50vh;
	margin: 0;
	top: 0;
	left: 0;
	padding: 25vh calc((100vw - 50vh) * 0.5);
}



.nav-btn {
}

.nav-btn a {
	text-decoration: none;
	}

	.nav-btn a h1 {
	font-size: 20pt;
	color: black;
	}

div .nav-btn-rotated a h1 {
transform: rotate (-90deg);
	}